.align-items-center {align-items: center;}
.align-items-start {align-items: start;}
.align-items-strecth {align-items: stretch;}
.align-items-end {align-items:end;}

.align-content-end {align-content:end;}
.align-content-center {align-content:center;}
.align-content-start {align-content:start;}
.align-content-stretch {align-content:stretch;}
.align-content-space-around {align-content:space-around;}
.align-content-space-between {align-content:space-between;}

.justify-content-end {justify-content:end;}
.justify-content-center {justify-content:center;}
.justify-content-start {justify-content:start;}
.justify-content-stretch {justify-content:stretch;}
.justify-content-space-around {justify-content:space-around;}
.justify-content-space-between {justify-content:space-between;}